<!DOCTYPE html> 
<html> 
  
<head> 
    <title>Home Page</title> 
      
    <style type="text/css" media="screen"> 
        body { 
            text-decoration-color: black; 
            font-size:7em;  
        } 
    </style> 
</head> 
  
<body> 
    <center>Hi <%=name%></center> 
</body> 
  
</html>     

